.cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 30px;
}

.LinkedInLo{
    display: flex;
    height: 60px;
    width: 70px;
    padding: 20px;
}

.NavbarTools{
    display: flex;
    padding: 20px 80px;
    gap: 50px;
}

.NavbarTools p{
   font-size: smaller;
   display: flex;
   flex-wrap: wrap;
}