.full-search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-suggest{
    width: 50%;
    display: flex;
    /* flex-wrap: wrap; */
    margin-left: 35px;
}

.search-suggest h2{
    width:80%;
    display: flex;justify-content: space-between;
    text-align: left;
    font-size: 55px;    
    font-weight: 200;
    margin-bottom: 3px;
    gap: 0px;
}

.work-on{
     display: flex;
     width: 60%;
     flex-wrap: wrap;
}

.work-on p{
    display: flex;
    text-align: left;
    font-size: 20px;
    font-weight: 100;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.grouping{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;    
}

.grouping button{
    width: 250px;
    height: 50px;
    border-radius: 50px;
    margin-bottom: 10px;
    /* font-size: 10p; */   
    font-weight: 300;
    text-align: center;
    color: black;
    border: 1px solid black;
}
